<div class="filter">
  <app-filter [filters]="actions" name="actions"></app-filter>
</div>
<div class="filter">
  <app-filter [filters]="currencies" name="currencies"></app-filter>
</div>
<div class="search">
  <button>Search</button>
</div>
<div class="header">
  <div class="header-column-big">
    Name
  </div>
  <div class="header-column-big">
    Brand
  </div>
  <div class="header-column-big">
    Last 4 digits
  </div>
  <div class="header-column-big">
    Transaction Type
  </div>
  <div class="header-column-small">
    Amount
  </div>
  <div class="header-column-small">
    Currency
  </div>
</div>
<div class="transaction" *ngFor="let transaction of transactions">
  <app-transaction [transaction]="transaction"></app-transaction>
</div>