<div [class]="show ? 'row-info' : 'row'" (click)="onClick()">
    <div class="row-column-big">
        {{transaction.card.holderName}}
    </div>
    <div class="row-column-big">
        {{transaction.brand}}
    </div>
    <div class="row-column-big">
        {{transaction.card.lastFourDigits}}
    </div>
    <div class="row-column-big">
        {{transaction.action | titlecase}}
    </div>
    <div class="row-column-small">
        {{transaction.amount}}
    </div>
    <div class="row-column-small">
        {{transaction.currencyCode}}
    </div>
</div>
<div *ngIf="show" class="info-row">
    <div class="title">
        ID:
    </div>
    <div class="details">
        {{transaction.id}}
    </div>
    <div class="title">
        Firts 6 digits:
    </div>
    <div class="details">
        {{transaction.card.firstSixDigits}}
    </div>
</div>
<div *ngIf="show" class="info-row">
    <div class="title">
        Tracking code:
    </div>
    <div class="details">
        {{transaction.trackingCode}}
    </div>
    <div class="title">
        Expiry month:
    </div>
    <div class="details">
        {{transaction.card.expiryMonth}}
    </div>
</div>
<div *ngIf="show" class="info-row">
    <div class="title">
        Brand ID:
    </div>
    <div class="details">
        {{transaction.brandId}}
    </div>
    <div class="title">
        Expiry year:
    </div>
    <div class="details">
        {{transaction.card.expiryYear}}
    </div>
</div>